*.log
.gitignore
/.htaccess
.htaccess
index.php
/license.txt
license.txt
/readme.html
readme.html
README.md
/sitemap.xml
/sitemap.xml.gz
fonts/
wp-admin/
wp-includes/
cursors/
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/ai1wm-backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/languages/
wp-content/wp-cache-config.php


wp-content/themes/*
wp-content/plugins/*
!wp-content/plugins/xml-validate/

